body{
    text-align: center;
}
.return{
    margin-top: 5rem;
    margin-right: 65rem;
}
.Blogsection{
    margin-top: 10rem;
}
.blogend{
    padding: 5rem;
    margin-top: 4rem;
    font-family: lulo;
}
.sharesection{
    padding: 3rem;
}